.activities-home-card-container {
  padding: 20px;
  text-align: center;
  margin-top: 100px; /* Aumentar el margen superior */
  max-width: 1600px; /* Aumentar el tamaño máximo del contenedor */
  margin-left: auto; /* Centrar el contenedor horizontalmente */
  margin-right: auto; /* Centrar el contenedor horizontalmente */
  border-radius: 10px; /* Borde redondeado */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

h3 {

  margin-bottom: 20px;
  font-size: 24px !important;
  color: whitesmoke; /* Color de texto claro */
}

.activities-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Espacio entre las tarjetas */
  margin-top: 10px;
}

.activity-card {
  cursor: pointer;
  border: none; /* Sin borde */
  border-radius: 10px; /* Borde redondeado */
  overflow: hidden;
  flex: 1 1 calc(33.33% - 20px); /* Tres columnas en pantallas grandes */
  max-width: calc(33.33% - 20px); /* Máximo ancho para mantener tres columnas */
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s; /* Transición para transformación y sombra */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff; /* Fondo blanco para contraste */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
  border: 1px solid white; /* Borde de 3px del color #f49e00 */
}
.activities-home-card-container h3 {
  margin-bottom: 20px; /* Margen inferior de 20px */
  font-size: 2em; /* Tamaño de fuente 2em */
  color: white; /* Color blanco */
  text-transform: uppercase; /* Convertir texto a mayúsculas */
}


.activity-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada al hacer hover */
  background-color: #ff6464; /* Cambia el color de fondo al hacer hover */
}


.activity-image {
  width: 100%;
  height: 200px; /* Aumentar la altura de la imagen */
  object-fit: cover; /* Asegura que la imagen cubra completamente el contenedor manteniendo el aspecto */
  border-top-left-radius: 10px; /* Bordes redondeados en la parte superior */
  border-top-right-radius: 10px; /* Bordes redondeados en la parte superior */
}

.activity-name {
  padding: 10px;
  font-size: 1.4em; /* Tamaño de fuente ligeramente mayor */
  color: #f49e00; /* Texto blanco */
  background-color: #343a40; /* Fondo oscuro */
  width: 100%;
  text-align: center;
  
}

.activity-card:hover .activity-name {
  color: #ff6464; /* Cambia el color del texto al hacer hover en la tarjeta */
}


/* Responsivo */
@media (max-width: 1024px) {
  .activity-card {
    flex: 1 1 calc(50% - 20px); /* Dos columnas en tablets */
    max-width: calc(50% - 20px);
  }
}

@media (max-width: 768px) {
  .activity-card {
    flex: 1 1 100%; /* Una columna en móviles */
    max-width: 100%;
  }
}
