.contenedor-boton-formulario{
    position: absolute;
    top: 90px;
    right: 30px;
    margin-top: 10px;
}

.boton-formulario{
    height: 50px;
    width: 80px;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    background-color: orange;
    border: 1px solid wheat;
    border-radius: 10px;
    font-size: small;
}

.boton-formulario:hover {
    transform: scale(0.95);
    box-shadow: 5px 10px 10px rgba(5, 16, 177, 0.932);
    border: 1px solid wheat;
}

