/* ChatInput.css */

ul {
    list-style-type: none;
    padding: 0;
}

li {
    
    padding: 10px 0;
}

li div {
    margin: 5px 0;
}

a {
    text-decoration: none;
    color: inherit;
}



h3 {
    margin-bottom: 20px;
}

.trash-icon {
    cursor: pointer;
    margin-right: 10px;
    color: hwb(59 4% 3%);
    font-size: 1.7em;
}