@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Freeman", sans-serif;
  text-decoration: none;
}

:root {
  --color-esqueleto: #EFF3F5;
}

footer {
  width: 100vw;
  padding: 15px 0;
  background-color: #ffffff;
}

.container-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 10px auto 0;
}

.box-footer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 15px;
  width: 157px;
  height: 200px;
  justify-content: flex-start;
}

.box-footer-info {
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 15px;
  height: 200px;
}

.foto {
  width: 125px;
  height: 75px;
  object-fit: cover;
}

.link-footer,
.text-footer {
  color: #091622;
  font-weight: 600;
  margin: 10px 0px 0px;
}

.terms {
  max-width: 350px;
  font-size: 15px;
  font-weight: 500;
  color: #091622;
  text-align: justify;
}

#title-footer {
  margin-bottom: 5px;
  color: #F2BB16;
  font-weight: 700;
  font-size: 20px !important;
  text-align: left !important;
  margin: 0px 0px 5px;
}

.link-footer:hover {
  opacity: 0.8;
  color: #F2BB16;
}

.box-copyright {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0 40px;
}

.copyright {
  margin-top: 20px;
  color: #091622;
  font-size: 12px;
}

.line {
  border: none;
  height: 1px;
  background-color: #5f5f5f;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container-footer {
    display: grid; /* Cambiado a grid */
    grid-template-columns: repeat(auto-fit, minmax(157px, 1fr)); /* Columnas flexibles */
    gap: 20px;
    justify-content: center;
  }

  .box-footer,
  .box-footer-info {
    
    width: 100%; /* Ocupa todo el ancho */
    height: auto;
    text-align: center;
  }

  .foto {
    width: 100px;
    height: auto;
  }

  .link-footer,
  .text-footer {
    margin: 5px 0;
    font-size: 14px;
  }

  .terms {
    max-width: 100%;
    font-size: 14px;
    padding: 0 10px;
  }

  #title-footer {
    
    font-size: 18px !important;
    text-align: center !important;
  }

  .box-copyright {
    padding: 0 20px;
  }

  .copyright {
    font-size: 10px;
  }
}
