/* Estilos para .gym-services */
.gym-services {
  margin-top: 50px;
  width: 100%;
  position: relative;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 800px; /* Ajusta la altura automáticamente */
  opacity: 0; /* Comienza invisible */
  transform: translateY(30px); /* Comienza desplazada hacia abajo */
  animation: slideInFade 1s forwards ease-in-out; /* Aplica la animación */
  animation-delay: 0.5s; /* Añade un retraso a la animación si es necesario */
}

/* Definir la animación de deslizamiento y desvanecimiento */
@keyframes slideInFade {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.service-title {
  padding: 10px;
  margin-bottom: 20px;
  font-size: 1.5em;
  font-weight: 800;
  text-align: center;
  width: 90%; /* Ajusta el ancho del título */
  margin-bottom: 20px;
    font-size: 2em; /* Tamaño de fuente 2em */
    color:white; /* Color amarillo */
    text-transform: uppercase; /* Convertir texto a mayúsculas */
}

.services-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.service-box {
  background-color: rgba(255, 166, 0, 0.355);
  padding: 20px;
  cursor: pointer;
  text-align: center;
  font-size: 1.2em;
  border-radius: 10px;
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: calc(33.33% - 20px); /* Ajusta el ancho de los cuadros de servicio */
  margin: 10px;
}

.service-box:hover {
  transform: scale(1.05);
}

.service-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.service-text {
  margin-top: 10px;
  font-size: 1.2em;
  font-weight: bold;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  color: black;
  max-width: 500px;
  width: 80%;
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5em;
  cursor: pointer;
}

/* Responsivo para móviles */
@media (max-width: 768px) {
 
  .service-title {
    font-size: 1.5em; /* Ajusta el tamaño del título para dispositivos móviles */
    width: 90%; /* Ajusta el ancho del título para dispositivos móviles */
  }

  .service-box {
    width: calc(50% - 20px); /* Dos columnas para dispositivos móviles */
  }
}

@media (max-width: 480px) {
  .service-title {
    font-size: 2.5em; /* Ajusta el tamaño del título para dispositivos muy pequeños */
  }

  .service-box {
    width: calc(100% - 20px); /* Una sola columna para dispositivos muy pequeños */
  }
}
