.nav-container {
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.navbar li {
  margin: 0 10px;
}

.navbar a {
  color: #0D5FA6;
  text-decoration: none;
  padding: 10px;
  display: block;
}

.navbar a:hover {
  color: #F2BB16;
}

.logoNav {
  height: 80px;
}

.profileIconNav {
  height: 35px;
  width: 35px;
  margin-top: 10px;
}

/* Hamburger Menu CSS */
.hamburger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-right: 10px; /* Add margin to the right */
}

.hamburger-menu .bar {
  width: 25px;
  height: 3px;
  background-color: #0D5FA6;
  margin: 4px 0;
  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  .hamburger-menu {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    height: calc(100vh - 60px);
    background: linear-gradient(to bottom, white, #F2BB16); /* Add inverted gradient background */
    flex-direction: column;
    align-items: flex-start; /* Align items to the left */
    justify-content: flex-start;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out, background 0.5s ease-in-out; /* Add background transition */
    z-index: 999;
    padding-top: 20px; /* Add some padding to the top for spacing */
    padding-left: 10px; /* Add padding to the left */
  }

  .nav-links.open {
    transform: translateX(0);
    background: linear-gradient(to bottom, white, #F2BB16); /* Ensure gradient is applied when open */
  }

  .nav-links li {
    margin: 1rem 0; /* Increase margin between items */
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  .nav-links.open li {
    opacity: 1;
    transform: translateY(0);
  }

  .nav-links a {
    font-size: 1.5rem; /* Increase font size */
    padding: 15px; /* Increase padding for better spacing */
  }

  /* Adding delay for each item */
  .nav-links.open li:nth-child(1) {
    transition-delay: 0.1s;
  }
  .nav-links.open li:nth-child(2) {
    transition-delay: 0.2s;
  }
  .nav-links.open li:nth-child(3) {
    transition-delay: 0.3s;
  }
  .nav-links.open li:nth-child(4) {
    transition-delay: 0.4s;
  }
  .nav-links.open li:nth-child(5) {
    transition-delay: 0.5s;
  }
  .nav-links.open li:nth-child(6) {
    transition-delay: 0.6s;
  }
}
