.user-nav {
  display: flex;
  
  
  width: 55vw;
  border-radius: 20px;
  gap: 0.5rem;

} 


.user-info{
  display: flex;
  margin-left: -100px;
  align-items: center;
  justify-content: center;
  width: 55vw;
  height: 40vh;
  padding: 10px;
  border-radius: 5px;
  font-family: inherit;
  font-size: inherit;
  caret-color: #F2BB16;
  border: solid 2px #F2BB16;
  overflow-y: auto; /* Añadir scroll si el contenido es muy grande */
}

.user-nav button {
  
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}



.nav-user {
  display: flex;
  flex-direction: column;
}
