.reviews-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}


.reviews-container > div {
  margin-bottom: 20px;
}

.reviews-container hr {
  border: 1px solid #ccc;
}

.review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.review-owner {
  font-weight: bold;
  font-size: 1.0em;
  color: #333;
}

.review-chat-link {
  color: #007bff;
  cursor: pointer;
  text-decoration: none;
}

.review-chat-link:hover {
  text-decoration: underline;
}

.review-rating {
  margin-bottom: 10px;
}

.review-content {
  font-size: 1em;
  color: #666;
}

.texto {
  color: #333;
  font-size: 0.9em;
}

.review {
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
}
