.wall-preview-container {
    margin-top: 50px;
    
    padding: 20px;
    text-align: center;
}

.wall-preview-container h3 {
    margin-bottom: 20px;
    font-size: 2em; /* Tamaño de fuente 2em */
    color:white; /* Color amarillo */
    text-transform: uppercase; /* Convertir texto a mayúsculas */
}
.wall-preview-container p {
    color: white;
}
.walls-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.wall-card {
    color: white;
    border: 2px solid #f49e00;
    border-radius: 8px;
    width: 22%;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0; /* Comienza invisible */
    transform: translateY(30px); /* Comienza desplazada hacia abajo */
    animation: slideIn 0.5s forwards ease-in-out; /* Animación de deslizamiento */
}

.wall-card a:hover {
    color: #ff6464; /* Cambia el color del enlace cuando el cursor está sobre él */
  }
  

/* Definir la animación de deslizamiento y desvanecimiento */
@keyframes slideIn {
    to {
        opacity: 1; /* Aparece completamente */
        transform: translateY(0); /* Se desplaza a su posición final */
    }
}

.wall-card img {
    width: 100%;
    height: 150px; /* Fija la altura de la imagen */
    object-fit: cover; /* Ajusta la imagen para que cubra el contenedor */
    border-radius: 8px 8px 0 0;
}

.wall-card h3 {
    background-color: #f49e00;
    color: white;
    margin: 0;
    padding: 10px 0;
}

.wall-card p {
    padding: 10px;
    margin: 0;
}

.wall-card a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #f49e00;
    font-size: 24px;
}

/* Ajustes responsivos */
@media (max-width: 1024px) {
    .wall-card {
        width: 45%; /* Ajusta a dos columnas en pantallas medianas */
    }
}

@media (max-width: 768px) {
    .wall-card {
        width: 60%; /* Más anchas en tablets */
    }
}

@media (max-width: 600px) {
    .wall-card {
        width: 80%; /* Más anchas en móviles grandes */
    }
}

@media (max-width: 480px) {
    .wall-card {
        width: 90%; /* Más anchas en móviles pequeños */
    }
}
