.user-info{
    display:flex;
    flex-direction: column;
    min-height: 40vh;
}
.bookings{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
    margin: 8px;
    width: 260px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 65%;
    border-radius: 5px;
}

.user-bookings {
    width: 100%;
    max-width: 900px;
    max-height: 100%;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
     overflow-x: hidden;
   
}

#booking_prg{
    margin:0px 0px 10px;
}