/* Estilo para el contenedor principal */
.booking-day-container {
    max-width: 800px;
    margin: 30px auto 0 auto; /* Margen superior para separar del borde superior */
    padding: 20px;
  }
  
  /* Estilo para el contenedor de placeholder */
  .custom-placeholder-day {
    margin-top: 30px; /* Ajuste del margen superior */
  }
  
  /* Estilo para el componente DayDetails */
  .day-details-container {
    text-align: center;
  }
  
  /* Estilo para el encabezado */
  h1 {
    color: #333;
    font-size: 2em;
  }
  
  /* Estilo para el contenedor de los frames */
  .frames_container {
    margin-top: 30px; /* Ajuste del margen superior */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px; /* Aumento del espacio interno */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilos responsivos */
  @media (max-width: 768px) {
    h1 {
      font-size: 1.5em;
    }
  
    .frames_container {
      flex-direction: column;
      align-items: center;
      gap: 15px;
      padding: 15px; /* Ajuste del espacio interno */
    }
  }
  
  @media (max-width: 480px) {
    h1 {
      font-size: 1.2em;
    }
  
    .frames_container {
      gap: 10px;
      padding: 10px; /* Ajuste del espacio interno */
    }
  }
  