.create-wall-form {
  margin: auto; /* Centrar el formulario en pantalla */
  max-width: 600px; /* Limitar el ancho máximo del formulario */
  width: 90%; /* Utilizar el 90% del ancho disponible */
  padding: 20px; /* Añadir relleno alrededor del formulario */
  box-sizing: border-box; /* Asegurar que el tamaño incluya el relleno y el borde */
  display: flex;
  flex-direction: column;
  gap: 20px; /* Espacio entre los elementos del formulario */
  
}

.create-wall-form input,
.create-wall-form select,
.create-wall-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  color: white;
}

.create-wall-form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create-wall-form button:hover {
  background-color: #0056b3;
}

/* Estilos específicos para dispositivos móviles */
@media (max-width: 768px) {
  .create-wall-form {
    width: 100%; /* Utilizar el 100% del ancho disponible en dispositivos móviles */
  }
}
