.container {
    
    max-width: 1200px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centrar horizontalmente */
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
  }
  
  .activities-feed {
    
    padding: 20px;
    text-align: center;
  }
  
  .activities-feed Input {
    margin-bottom: 20px;
  }
  
  #containerActivitiesFeed {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 100px;
    justify-items: center;
    align-items: center;
  }
  
  .activities-feed p {
    margin-top: 20px;
    color: #777;
    font-style: italic;
  }
  
  /* Estilos para hacer más pequeños los elementos figure */
  .figure-container {
    width: 300px; /* Ancho del figure */
    margin: 50px;
  }
  
  .figure-container img {
    width: 100%;
    height: auto;
  }
  